.navbar-brand span{
	color: #479e47
}
.navbar-inverse{
	border-radius: 0px  !important;
}
#board table{
	border : 1px solid #009688;
}
._white{
	color: white;
    text-shadow: 2px 2px 4px #000000 ;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
._black{
	color: grey;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.ui-draggable-handle{
	text-align: center;
}
.captured_pieces{
	font-size: 30px;
	height: 200px;
	overflow-y: auto;
}
.captured_pieces span{
	display: inline-block;
	padding: 10px;
}

.relative{
	position: relative;
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background: grey;
	opacity: 0.5;
}
